{% extends 'dashboard/base.html' %}

{% block main %}

{{user}} 
{% if request.user.is_authenticated %}
  <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Log out</button>
  </form>
{% else %} 
   <a href="{% url 'login '%}" class="btn btn-primary">Log in</a> 
{% endif %}

    <h1>Categories</h1>
{% for category in  object_list %}

    <br>
    <div class="card">
      
      <div class="card-header">
        {{category.title}}
      </div>
      <div class="card-body">
        <a href="{% url 'category_detail' pk=category.id %}" class="btn btn-primary">More Information</a>
      </div>
    </div>
    <br>
    

    {% endfor %}
    <br><br>
    <a href="/download_report" class="btn btn-primary">Download report</a>
    {% endblock %}